*{
    margin: 0;
    padding: 0;  
  }
    
  @font-face {
      font-family: 'Open Sans', sans-serif;
      src: url(../Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
  }
  html {
      font-family: 'Open Sans', sans-serif;
      font-size: 16px;
  }
  
  
@import "variables";
@import "body";
@import "grid";
@import "header";
@import "section";
@import "aside";
@import "footer";
@import "mediaQ";